@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');

body {
    background-color:  rgb(34, 34, 34);
    background: linear-gradient(45deg, rgb(34, 34, 34), rgb(24, 24, 24))
}
.country-name {
    font-family: 'Rubik', sans-serif;
    font-size: 200%;
    /* text-anchor: middle; */
    fill: floralwhite;
    opacity: 0.7;
}
.desc {
    font-family: 'Rubik', sans-serif;
    fill: floralwhite;
    opacity: 0.4;
}
.my-name {
    font-family: 'Rubik', sans-serif;
    fill: floralwhite;
    opacity: 0.4;
}