@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');

body {
    background-color:  rgb(34, 34, 34);
    background: linear-gradient(45deg, rgb(34, 34, 34), rgb(24, 24, 24))
}
.country-name {
    font-family: 'Rubik', sans-serif;
    font-size: 200%;
    /* text-anchor: middle; */
    fill: rgba(255, 250, 240, 0.452);
    opacity: 0.7;
}
.desc {
    font-family: 'Rubik', sans-serif;
    fill: floralwhite;
    opacity: 0.4;
}
.my-name {
    font-family: 'Rubik', sans-serif;
    fill: floralwhite;
    opacity: 0.4;
}
.input-container {
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    background-color: floralwhite;
    width: 160px;
    border-radius: 100px;
}